$primary: #003366;
$secondary: #1e90ff;
$margins: 25px;

body {
  margin: 0;
  background: darkgray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul#nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $primary;
  list-style-type: none;

  li {
    float: left;

    a {
      display: block;
      text-decoration: none;
      color: white;
      text-align: center;
      padding: 10px 15px;
    }

    a:hover {
      background: $secondary;
    }
  }
}

#header {
  text-align: center;
}

.row {
  display: flex;
}

.col_25 {
  flex: 25%;
  margin: $margins;
}

.col_50 {
  flex: 50%;
  margin: $margins;
}

.col_75 {
  flex: 75%;
  margin: $margins;
}

#footer {
  position: fixed;
  background: $primary;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;

  a:link {
    color: yellow;
  }
}

img {
  width: 100%;
}

table#news {
  width: 100%;

  tr {
    background: $primary;
  }

  tr:nth-child(even){
    background: $secondary
  }

  th, td {
    text-align: center;
    padding: 10px;

    a:link {
      color: yellow;
    }
  }

}
