$primary: #003366;
$secondary: #1e90ff;

body {
  margin: 0;
}

ul#nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $primary;
  list-style-type: none;

  li {
    float: left;

    a {
      display: block;
      text-decoration: none;
      color: white;
      text-align: center;
      padding: 10px 15px;
    }

    a:hover {
      background: $secondary;
    }
  }
}

#footer {
  position: fixed;
  background: $primary;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;

  a:link {
    color: yellow;
  }
}
