---
title: "Home Page of Michael D. Bond"
---
<p class="centeredImage">
  <%= tag :img, :src => "images/mikebondimg.jpeg", :alt =>"Mike and His Dog" %>
</p>
<h2>News</h2>
<table>
<tr>
  <td>
  Jake Roemer's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator">
    high-coverage, unbounded predictive race detection
  </a>
  will appear at PLDI 2018!
  </td>
</tr>
<tr>
  <td>
  A paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">
    instrumentation bias for efficient data race detection
  </a>
  co-authored by PLaSS members Man Cao and Mike Bond and led by Ben Wood
  (Wellesley College) appeared at OOPSLA 2017!
  </td>
</tr>
<tr>
  <td>
  Man Cao's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topic">
    hybridizing and relaxing dependence tracking
  </a>
  has been published in a special edition of ACM Transactions on Parallel
  Computing (TOPC) in August 2017!
  </td>
</tr>
<tr>
  <td>
  Aritra Sengupta defended his dissertation and graduated in Spring 2017!
  He joined Samsung Research America in July.
  </td>
</tr>
<tr>
  <td>
  Man Cao defended his dissertation and graduated in Spring 2017! He joined Google in May.
  </td>
</tr>
<tr>
  <td>
  Minjia Zhang's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon">
    avoiding consistency exceptions under strong memory models
  </a>
  appeared at ISMM 2017
  </td>
</tr>
<tr>
  <td>
  Aritra Sengupta's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">
    commodity HTM support for bounded region serializability
  </a>
  appeared at CGO 2017!
  </td>
</tr>
<tr>
  <td>
  Swarnendu Biswas's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">
    lightweight data race detection for production runs
  </a>
  appeared at CC 2017!
  </td>
</tr>
<tr>
  <td>  Swarnendu Biswas defended his PhD thesis succcessfully in August 2016! He's now a postdoc at
  UT Austin working with Keshav Pingali.
  </td>
</tr>
<tr>
  Minjia Zhang defended his PhD thesis successfully in April 2016! He's now at Microsoft Research.
</tr>
<tr>
  <td>
  Swarnendu Biswas won
  <a href="https://www.acm.org/media-center/2016/june/src-2016-grand-finals">
    First Place in the Graduate Category
  </a>
  of the ACM Student Research Competition!
  </td>
</tr>
<tr>
  <td>
  Man Cao's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory">
    exposing weak memory model behaviors by "looking into the future"
  </a>
  appeared at ISMM 2016!
  </td>
</tr>
<tr>
  <td>
  Swarnendu Biswas received the CSE department's Graduate Research Award!
  </td>
</tr>
<tr>
  <td>
  Minjia Zhang's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#relaxed-tracking">
    relaxed dependence tracking for parallel runtime support
  </a>
  appeared at CC 2016!
  </td>
</tr>
<tr>
  <td>
  Man Cao's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">
    combining pessimistic and optimistic tracking of cross-thread dependences
  </a>
  appeared at PPoPP 2016!
  </td>
</tr>
<tr>
  <td>
  Swarnendu Biswas's paper on
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">
    efficient data race exceptions
  </a>
  received the OOPSLA 2015 Distinguished Paper Award!
  </td>
</tr>
</table>