<p id="footer">
  Associate Professor
  <br/>
  Computer Science & Engineering
  <br/>
  Ohio State University
  <br/>
  <%= mail_to 'mikebond@cse.ohio-state.edu', "mikebond@cse.ohio-state.edu" %>
  <br/>
  697 Dreese Lab
</p>