<div id="footer">
  Associate Professor | Computer Science & Engineering | The Ohio State University | <%= mail_to 'mikebond@cse.ohio-state.edu', "mikebond@cse.ohio-state.edu" %> | 697 Dreese Lab
</div>