---
title: "Michael D. Bond"
---
<div class="other">
<h2>Teaching</h2>
<p>
  No teaching Autumn 2018 - Spring 2019 (on sabbatical)
  <br/>
  <a href="http://web.cse.ohio-state.edu/~mikebond/misc.html#teaching">
    Past teaching
  </a>
</p>
<h2>Miscellaneous</h2>
<p>
  <a href="http://web.cse.ohio-state.edu/~mikebond/misc.html#activities">
    Activities
  </a>
  <br/>
  <a href="http://web.cse.ohio-state.edu/~mikebond/misc.html#awards">
    Awards
  </a>
  <br/>
  <a href="http://web.cse.ohio-state.edu/~mikebond/misc.html#funding">
    Funding
  </a>
  <br/>
</p>
</div>

