---
title: "Michael D. Bond"
---

<h1>Research</h1>
<p>
  My
  <a href="http://web.cse.ohio-state.edu/~mikebond/plass.html"> research group </a>
  develops program analyses and software systems that make complex,
  concurrent software significantly more reliable, scalable, and secure than it is today.
</p>
<p>
  General interests: programming languages, software and hardware systems, program analysis, compilers, security
</p>
<h3><a href="http://web.cse.ohio-state.edu/~mikebond/pubs.html">Publications</a></h3>
<p>
  <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html">
    Publicly available research software
  </a>
  (see "Source code" for each paper)
</p>
<p>
  Current advisees:
  <ul>
    <li>Kaan Genc (PhD student)</li>
    <li>Jake Roemer (PhD candidate)</li>
    <li>Rui Zhang (PhD student)</li>
  </ul>
</p>
<p>
  Graduated advisees, with positions as of 2017:
  <ul>
    <li><a href="http://web.cse.ohio-state.edu/~cao.235/">Man Cao</a>
      (PhD, 2017) --now at Goole
    </li>
    <li><a href="http://www.cse.ohio-state.edu/~sengupta/">Aritra Sengupta</a>
      (PhD, 2017) — now at Samsung Research America
    </li>
    <li><a href="http://users.ices.utexas.edu/~sbiswas/">Swarnendu Biswas</a>
      (PhD, 2016) — now a postdoc at UT Austin
    </li>
    <li><a href="http://zhangminjia.me/">Minjia Zhang</a>
      (PhD, 2016) — now at Microsoft Research
    </li>
    <li><a href="http://huangjip.github.io/">Jipeng Huang</a>
      (MS, 2014) — now at Microsoft
    </li>
  </ul>
</p>